/* Container for skill bars */
.container {
    width: 100%; /* Full width */
    background-color: #F2F2F2; /* Grey background */
}

.box {
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Wrap items to the next line if needed */
    gap: 20px; /* Space between items */
    margin: 50px 12%;
    font-size: 14px;
}

.box .skill {
    flex: 1 1 30%; /* Flex-grow, flex-shrink, and basis */
    min-width: 200px; /* Minimum width for each skill item */
}

.skills {
    text-align: right;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    padding-right: 4px;
}

.html {width: 90%; background-color: var(--darkgreen-color);}
.css {width: 80%; background-color: var(--ligthgreen-color);}
.js {width: 65%; background-color: var(--pink-color);}
.php {width: 60%; background-color: var(--orange-color);}
.python {width: 30%; background-color: var(--burntorange-color);}
.docker {width: 20%; background-color: var(--salmonpink-color);}
.danish {width: 100%; background-color: var(--forestgreen-color);}

.aboutMeText {
    color: #333;
    text-align: left;
    font-size: 12px;
    margin: 20px auto 40px;
    line-height: 1.6;
}

.centered-orange {
    color: var(--orange-color);
    text-align: center;
    font-size: 16px;
}

.centered-orange span {
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.headerAbout h4 {
    font-size: 20px;
    color: #333;
}

.headerAbout {
    text-align: center;
}

.headerAbout p {
    font-size: 12px;
    margin: 20px 200px 40px;
}

.aboutImage {
    width: 20%;
    max-width: 200px;
    height: auto;
}
