/* src/css/Contact.css */

.contactPage {
    padding: 20px;
}

.header h2 {
    text-align: center;
    color: var(--green-black);
    margin-bottom: 20px;
    margin-left: -30px !important;
    padding-left: 0 !important;
    margin-top: -20px;
}

.contactContent {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    gap: 30px; /* Space between flex items */
    padding: 0 20px; /* Add padding to ensure content is not flush with the container edges */
    margin-bottom: 2px; /* Spacing below the content */
    flex-wrap: wrap; /* Allow items to wrap if needed */
    margin-top: 60px;
}

.contactForm {
    flex: 1;
    max-width: 600px;
    margin-left: 20px;
}

@media (min-width: 1024px) {
    .contactForm {
        flex: 1;
        max-width: 600px;
        margin-left: 100px;
    }
}

.contactForm h3 {
    margin-bottom: 10px;
    color: var(--green-black);
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--green-black);
}

.formGroup input,
.formGroup textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background-color: #f5f5f5; /* Default background color */
    z-index: 10;
    position: relative;
}

/* Customize focus state */
.formGroup input[type="text"]:focus,
.formGroup textarea:focus {
    border: 3px solid #555;
    outline: none;
    background-color: #ffffff;
}

.formGroup textarea {
    resize: vertical;
}

button {
    background-color: var(--yellow-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: var(--green3);
}

.contactInfo {
    flex: 1;
    max-width: 400px;
}

.contactInfo h3 {
    margin-bottom: 10px;
    color: var(--green-black);
}

.contactInfo .info {
    margin-bottom: 10px;
    color: var(--yellow-color);
}

.contactInfo .label {
    margin-bottom: 10px;
    color: var(--green-black);
}

