.home {
    background-color: white;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* Flex Container for Content */
.content {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    align-items: center;
    justify-content: space-between; /* Space out items */
    width: 100%;
    padding: 0 20px; /* Padding to prevent content touching the edges */
    gap: 10%; /* Adjust gap between items as needed */
}

.text-content{
    margin-left: 5%;
}

.responsive {
    border-radius: 50%; /* Keep the image circular */
    width: 100%; /* Make the width responsive */
    max-width: 500px; /* Limit the maximum width */
    height: auto; /* Maintain the aspect ratio */
    aspect-ratio: 1 / 1; /* Ensure the height and width are the same */
    object-fit: cover; /* Ensure the image covers the entire area */
    margin-right: 10%;
    z-index: 3;
}

/* Size of image for screens smaller than 1000px */
@media (max-width: 1500px) {
    .responsive {
        max-width: 400px; /* Reduce max size*/
    }
}

@media (max-width: 1200px) {
    .responsive {
        max-width: 300px; /* Reduce max size*/
    }
}

@media (max-width: 1000px) {
    .responsive {
        max-width: 250px; /* Reduce max size*/
    }
}

.homeTitle {
    color: #ffffff;
    font-size: 37px;
    margin: 40px 1px 1px 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Resume Button */
.resume-link {
    display: inline-flex; /* Change to inline-flex to align icon and text properly */
    align-items: center; /* Align items vertically in the center */
    padding: 10px 20px;
    background-color: var(--ligthgreen-color);
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 14px;
    box-shadow: 0 5px 20px rgba(76, 149, 108, 0.3);
    margin-bottom: 0;
    z-index: 1000;
    position: relative;
}

.resume-link:hover {
    background-color: var(--green3);
    transform: translateY(-5px);
}

.download-icon {
    width: 20px; /* Set a reasonable size for the icon */
    height: auto; /* Maintain aspect ratio */
    margin-right: 8px; /* Space between the text and the icon */
}

.intro-text {
    color: #ffffff;
    font-size: 12px;
    max-width: 1000px;
    margin: 20px auto 30px;
    line-height: 1.8;
}

/*curve*/
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--darkgreen-color);
}

.curve {
    position: absolute;
    height: 100px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: #ffffff;
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: var(--darkgreen-color);
    transform: translate(-4%, 40%);
    z-index: -1;
}

/* Additional section below the wave */
.additional-content {
    text-align: center;
}

.additional-content h3 {
    font-size: 28px;
}

.additional-content p {
    font-size: 16px;
}
.moreInfoText {
    position: relative;
    z-index: 4;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin-bottom: -10px;
    margin-top: 30px;
}

.scroll-button {
    padding: 5px 12px;
    background-color: var(--ligthgreen-color);
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 5px 20px rgba(76, 149, 108, 0.3);
    z-index: 1000;
}

.scroll-button:hover {
    background-color: var(--green3);
}

.scroll-icon {
    width: 15px;
    height: auto;
}

/*Row flexbox*/
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1000px) {
    .flex-container {
        flex-direction: column;
    }
}

