.top-navigation {
    background-color: var(--darkgreen-color);
    padding: 20px;
    font-size: 16px; /* Increased font size */
    z-index: 1000; /* Ensure it appears above other content */
    position: relative;
}

.top-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.topnav-left {
    margin-right: auto;
    color: white;
    font-family: "Century Gothic", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.topnav-right {
    display: flex;
}

.topnav-right li {
    margin-left: 20px;
}

.topnav-right li:first-child {
    margin-left: 0;
}

.topnav-right li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.topnav-right li a:hover {
    text-decoration: underline;
}

.topnav-right li a.active {
    text-decoration: underline;
    font-weight: bold;
}

.topnav-right li a:visited {
    color: white;
}
