/* Ensures box-sizing is consistent */
* {
    box-sizing: border-box;
}

body {
    /* Body styles (if needed) */
}

.categoryTitle {
    font-size: 20px;
    margin-left: 20px;
    color: var(--green-black);
}

/* Flex container styles */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; /* Ensure all items stretch to the height of the tallest item */
    margin: 0 -20px;
    padding-right: 3%;
    padding-left: 3%;
}

/* Flex item styles */
.column {
    flex: 1 1 25%; /* Grow and shrink with equal size, starting at 25% width */
    padding: 0 10px;
    display: flex; /* Ensure child items are also flex items */
    align-items: stretch; /* Make sure all columns stretch equally */
}

/* Card container styles */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
    display: flex;
    flex-direction: column; /* Ensure items stack vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    flex: 1; /* Allow card to grow and shrink within column */
    /* Set a minimum height to ensure consistency */
    min-height: 300px;
}

/* Card image styles */
.card .card-image {
    width: 100%;
    height: auto;
    max-width: 300px; /* Maximum width */
    max-height: 300px; /* Maximum height */
    display: block;
    margin: 0 auto 15px;
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
}

/* Project link styles */
.card .project-links .githublink:link,
.card .project-links .githublink:visited {
    background-color: var(--yellow-color);
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    margin: 2px;
}

.card .project-links .githublink:hover {
    background-color: var(--green3);
    text-decoration: none;
}

/* Scoped styles for project links */
.card .project-links a {
    font-size: 12px;
}

/* Scoped styles for paragraphs within .card */
.card .card-description {
    font-size: 12px !important;
    /* Ensure no extra margin is applied */
    margin: 0 0 5px !important;
    padding: 0 !important;
    color: #333333; /* Slightly lighter color for better readability */
}

/* Scoped styles for headings within .card */
.card .card-title {
    font-size: 16px !important;
    color: var(--green-black); /* Dark color for contrast */
    margin: 0 0 10px 0; /* Margin for spacing below the heading */
}

/* Scoped styles for tech details */
.card .card-tech {
    font-size: 12px !important;
    margin: 0 0 5px !important; /* Ensure no extra margin is applied */
    padding: 0 !important;
    color: #333333; /* Slightly lighter color for better readability */
}
